<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>Erro 500</h2>
        <h1 class="rotate-90">:(</h1>
        <div class="error-details">
          <h5>Desculpe, ocorreu um erro interno!</h5>
        </div>
        <div class="error-actions">
          <a routerLink="" class="btn btn-primary">
            <span class="glyphicon glyphicon-home"></span>
            Me leve para a home </a>
        </div>
      </div>
    </div>
  </div>
</div>