<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404</h2>
        <div class="error-details">
          Desculpe, ocorreu um erro, a página solicitada não foi encontrada!
        </div>
        <div class="error-actions">
          <a routerLink="" class="btn btn-primary">
            <span class="glyphicon glyphicon-home"></span>
            Me leve para a home </a>
        </div>
      </div>
    </div>
  </div>
</div>