body{
    background-color: #fff;
}

.red{
    color: #ff0000;
}

.green{
    color: #008000;
}

.glyph{
    position: relative;
    left: 35px;
    pointer-events: none;
}
.caixa-central{
    border: 1px solid #006699;
    padding: 0px 20px 20px 20px;
    margin: 15px;
    flex: 0 0 80.70%;
}

legend{
    padding: 0px 10px 0px 10px;
    font-size: 1em;
    position: relative;
    top: -15px;
    background-color: #ffffff;
    width: fit-content;
}

.col-w-3{
    width: 3%;
}

.w-7{
    width: 7%;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.t-center{
    text-align: center;
}

.date-picker{
    width: 1.2rem; 
    height: 1rem; 
    cursor: pointer;
}

.rotate-90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}